---

---

<footer class="footer">
  <p>&copy; SHIBUYA Dev</p>
</footer>

<style lang="scss">
  .footer {
    color: #fff;
    font-size: 0.8rem;
    padding: 20px 0;
    text-align: center;
    background-color: #000;
  }
</style>
