---
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import HeadingTitle from "@components/HeadingTitle.astro";
import TextTitle from "@components/TextTitle.astro";
import { path } from "@lib/utils/path";
---

<Layout>
  <Container>
    <HeadingTitle title="計算機サイト" />
    <article class="article">
      <img class="main-img" src={path("assets/calculator.png")} alt="" />
      <div class="text">
        <TextTitle title="概要" />
        <p>
          普段使われている物がどのように動いているのか興味が持ち開発しました。<br
          />基本的な四則演算を行うことが出来ます。<br />
           機能：打ち間違え時の桁数削除、符号の有無、少数点の追加
        </p>
        <TextTitle title="使用技術" />
        <p>
          - html<br />
           - css<br />
           - javascript
        </p>
        <TextTitle title="リンク" />
        <p>
          計算機サイト
          <a
            href="https://yuta-shibuya-sy.github.io/calculator/"
            target="_blank">[https://yuta-shibuya-sy.github.io/calculator/]</a
          >
        </p>
      </div>
    </article>
  </Container>
</Layout>

<style lang="scss">
  .article {
    margin-top: 25px;
    .main-img {
      width: 100%;
    }

    .text {
      margin-top: 25px;

      p {
        margin-bottom: 20px;
      }
    }
  }
</style>
