---
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import HeadingTitle from "@components/HeadingTitle.astro";
import TextTitle from "@components/TextTitle.astro";
import { path } from "@lib/utils/path";
---

<Layout>
  <Container>
    <HeadingTitle title="神大フェスタ 公式サイト" />
    <article class="article">
      <img class="main-img" src={path("assets/festa25-shinkan.png")} alt="" />
      <div class="text">
        <TextTitle title="サイト概要" />
        <p>
          神奈川大学横浜キャンパスの大学祭実行委員会「神大フェスタ」の公式サイトです。
          サイトのデザイン（イラスト除く）の一部とコーディングを行いました。
        </p>
        <TextTitle title="使用技術" />
        <p>- Astro.js</p>
        <TextTitle title="リンク" />
        <p>
          神大フェスタ新歓サイト
          <a href="https://jindaifesta.com/shinkan/" target="_blank"
            >[https://jindaifesta.com/shinkan/]</a
          >
        </p>
      </div>
    </article>
  </Container>
</Layout>

<style lang="scss">
  .article {
    margin-top: 25px;
    .main-img {
      width: 100%;
    }

    .text {
      margin-top: 25px;

      p {
        margin-bottom: 20px;
      }
    }
  }
</style>
